*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    display: inline-block;
}

span {
    display: inline-block;
}

button {
    border: none;
    cursor: pointer;
}

.container {
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}


/* ======================================header================================= */

.header__section {
    background: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Ebony, #09040C);
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

.header__wrraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.header__link {
    margin-left: 5px;
}

.header__link__select {
    color: rgba(159, 106, 185, 1);
    font-family: 'Raleway' sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
}

.header__link__select:hover {
    color: rgba(245, 12, 139, 1);
}


/* ==============================main=========================== */

.main__section {
    background-image: url(./img/main_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Ebony, #09040C);
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

.main__wrraper {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 191.09px 0px 191.11px 80px;
}

.main__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
}

.main__container__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.main__title {
    font-family: sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 76.8px;
    text-transform: uppercase;
    background: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Linear-Caribbean-Green-Amaranth, linear-gradient(0deg, #FFC08A 0%, #E91E63 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main__text {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Regal-Blue, #FF377B);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.8px;
}

.main__btn {
    padding: 11px 34px 12px 34px;
    border-radius: 2px;
    border: 2px solid var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Regal-Blue, #FF377B);
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Regal-Blue, #FF377B);
    font-size: 15px;
    font-style: normal;
    background-color: transparent;
    font-weight: 700;
    line-height: 22.5px;
    letter-spacing: 1px;
}

/* =====================================work================================== */
.work__section {
    background-color: #280045;
}

.work__wrraper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 60px 0px 10px 0px;
}

.work__containers_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 19px;
}

.work__title {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Amaranth, #E91E63);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38.4px;
    text-transform: uppercase;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Amaranth, #E91E63);
    transform: translate(-130px);
    transition: 0.3s linear;
}

.active__title {
    transform: translate(0px);
}

.work__lorem {
    max-width: 1110px;
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-East-Side, #C393CB);
    text-align: center;
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


.work__containers_2 {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.work__containers_items {
    padding: 90px 40px 40px 40px;
    border-radius: 25px;
    position: relative;
    z-index: 1;
    background: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Nero, #FFF);
    transition: 0.2s linear;
}

.work__containers_items:hover {
    transform: translate(0px, -20px);
}


.work__containers_items::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 40px 190px 40px 380px;
    background-color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Regal-Blue, #FF377B);
    width: 50px;
    height: 50px;
}

.work__containeres__items__about_text {
    max-width: 270px;
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Gray, #838383);
    font-family: 'Open Sans' sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


/* =======================================aboutus__section=============================== */
.aboutus__section {
    background-color: #280045;
}

.aboutus__wrraper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 60px 0px 60px 0px;
    transform: translate(0px, 250px);
    transition: 0.7s linear;
}

.active__aboutus {
    transform: translate(0px, 0px);
}

.aboutus__container_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.aboutus__title {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Amaranth, #E91E63);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38.4px;
    text-transform: uppercase;
}

.aboutus__lorem {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-East-Side, #C393CB);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.aboutus__container_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.aboutus__container_2__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.aboutus__container_2__items__lorem:nth-child(1) {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Alto, #CECECE);
    font-family: 'Raleway' sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.6px;
}

.aboutus__container_2__items__lorem:nth-child(2) {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Heliotrope, #D640EF);
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: 26px;
}

.aboutus__container_2__items__lorem:nth-child(3) {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-East-Side, #C393CB);
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.aboutus__container_2__items__lorem:nth-child(4) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 16px;
    padding-left: 10px;
}

.aboutus__container_2__items__lorem_text {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-East-Side, #C393CB);
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


/* =================================================sponsers__section======================================== */

.sponsers__section {
    background-color: #280045;
}

.sponsers__wrraper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 60px 0px 60px 0px;
}

.sponsers__wrraper__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.sponsers__title {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Amaranth, #E91E63);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38.4px;
    text-transform: uppercase;
}

.sponsers__lorem {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-East-Side, #C393CB);
    text-align: center;
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


/* =============================sponsers__section========================== */

.sponsers__section {
    background-color: #280045;
}

.sponsers__wrraper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0px 60px 0px;
    gap: 30px;
}

.sponsers__wrraper__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.sponsers__title {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Amaranth, #E91E63);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38.4px;
    text-transform: uppercase;
}

.sponsers__lorem {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-East-Side, #C393CB);
    text-align: center;
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.sponsers__wrraper__container {
    flex: 1;
}

/*========================= swiper===================== */
swiper-container {
    width: 1110px;
    height: 70px;
    background-color: transparent;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.swiper__img {
    width: 100px;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: soft-light;
}

/* =========================swiper======================== */


/* ========================gallery__section================================ */

.gallery__section {
    background-color: #5B0072;
}

.gallery__wrraper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 90px 0px 90px 0px;
}

.gallery__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.gallery__title {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Amaranth, #E91E63);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38.4px;
    text-transform: uppercase;
}

.gallery__lorem {
    color: var(--webthemez-com-demo-party-event-free-html-website-template-1349-x-627-default-nero-61, rgba(255, 255, 255, 0.61));
    text-align: center;
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


.gallery__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.gallery__container__items {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ================================event__section================================ */

.event__section {
    background-color: #280045;
}

.event__wrrpaer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 0px 90px 0px;
    gap: 30px;
}

.event__container:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.event__title {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Amaranth, #E91E63);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38.4px;
    text-transform: uppercase;
}

.event__lorem {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-East-Side, #C393CB);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.event__container:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.event__container__wrraper {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 31px;
    padding: 26px;
    border: 1px solid var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Amaranth, #E91E63);
}

.event__container__items:nth-child(1) {
    padding: 15px 15px 45px 15px;
    background-color: rgba(233, 30, 99, 1);
}

.event__container__items__time {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Nero, #FFF);
    text-align: center;
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


.event__container__items:nth-child(2) {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.event__container__items__title {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Amaranth, #E91E63);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
}

.event__container__items__lorem {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-East-Side, #C393CB);
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/* ============================================testi__section=====================================*/

.testi__section {
    background-color: #280045;
}

.testi__wrrpaer {
    padding: 60px 0px 60px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.testi__wrrpaer__container:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.testi__title {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Amaranth, #E91E63);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38.4px;
    text-transform: uppercase;
}

.testi__lorem {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-East-Side, #C393CB);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.testi__wrrpaer__container:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.testi__wrrpaer__container__wrraper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.testi__wrrpaer__container__wrraper__item {
    padding: 23px 24px 22px 24px;
    border-radius: 15px 15px 0px 15px;
    border: 1px solid var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Alto, #DCDCDC);
    background: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Seashell, #F1F1F1);
}

.testi__wrrpaer__container__wrraper__item__lorem {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Dove-Gray, #686868);
    text-align: center;
    font-family: 'Open Sans' sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 22.5px;
    max-width: 243px;
}


.testi__wrrpaer__container__wrraper__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-East-Side, #C393CB);
    text-align: center;

    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.6px;
}

.testi__wrrpaer__container__wrraper__name__acount {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Dusty-Gray, #999);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px;
}

/* ================================service__section================================ */

.service__section {
    background-color: #1B001F;
}

.service__wrraper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.service__wrraper__container:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 19px;
}

.service__title {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Amaranth, #E91E63);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.6px;
}

.service__lorem {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-East-Side, #C393CB);
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 540px;
}

.service__btn {
    padding: 10px 28px 10px 28px;
    border-radius: 3px;
    border: 2px solid var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Amaranth, #E91E63);
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Amaranth, #E91E63);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;
    background-color: transparent;
    margin-top: 10px;
}


/* =================================team__section================================= */

.team__section {
    background-color: #280045;
}

.team__wrraper {
    padding: 60px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 29px;
}

.team__title {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Amaranth, #E91E63);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38.4px;
    text-transform: uppercase;
}

.team__wrraper__container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.team__wrraper__container__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.team__wrraper__container__items__desc {
    display: flex;
    padding: 16px 23px 16px 23px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 0px 0px 3px 3px;
    border: 1px solid var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Amaranth, #E91E63);
    background: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Nero, #FFF);
}

.team__wrraper__container__items__desc__name {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Amaranth, #E91E63);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team__wrraper__container__items__desc__job {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Amaranth, #E91E63);
    text-align: center;
    font-family: 'Open Sans' sans-serif;
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    line-height: 19.5px;
}

.team__wrraper__container__items__desc__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.team__wrraper__container__items__desc__social__img {
    padding: 5px 12px 5px 12px;
}


/* ===========================price__section============================================ */

.price__section {
    background-color: #280045;
}

.price__wrraper {
    padding: 90px 0px 90px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.price__wrraper__container:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.price__title {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Amaranth, #E91E63);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38.4px;
    text-transform: uppercase;
}

.price__lorem {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-East-Side, #C393CB);
    text-align: center;
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.price__wrraper__container:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.price__wrraper__container__items {
    display: flex;
    padding: 40px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 50px;
    background: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Nero, #FFF);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.05);
}

.price__wrraper__container__items_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
}

.price__wrraper__container__items_top_per {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Royal-Purple, #673AB7);
    font-family: 'Open Sans' sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.price__wrraper__container__items_top__wrraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.price__wrraper__container__items_top__wrraper__name {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Torch-Red, #F90048);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    position: relative;
}

.price__wrraper__container__items_top__wrraper__name::before {
    content: '';
    width: 5px;
    height: 30px;
    position: absolute;
    left: -10px;
    border-radius: 5px;
    background: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Seance, #9C27B0);
}

.price__wrraper__container__items_top__wrraper__cost {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Royal-Purple, #673AB7);
    text-align: right;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
}

.price__wrraper__container__items_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.price__wrraper__container__items_center__lorem {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Mine-Shaft, #333);
    font-family: 'Open Sans' sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 310px;
}

.price__wrraper__container__items_center__lorem_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.price__wrraper__container__items_center__lorem_2_text {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Mine-Shaft, #333);
    font-family: 'Open Sans' sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.price__wrraper__container__items_buttom {
    display: flex;
    padding-left: 30px;
    justify-content: center;
    align-items: center;
}

.price__wrraper__container__items__btn {
    padding: 20px 80px;
    border-radius: 5px;
    background: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Torch-Red, #F90048);
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Nero, #FFF);
    text-align: center;
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}


/* ====================================contact__section============================== */

.contact__section {
    background-color: #280045;
}

.contact__wrraper {
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.contact__wrraper__container:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.contact__title {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Amaranth, #E91E63);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38.4px;
    text-transform: uppercase;
}

.contact__lorem {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-East-Side, #C393CB);
    text-align: center;
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.contact__wrraper__container:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 240px;
}

.contact__wrraper__container__items:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 23px;
}

.contact__wrraper__container__items__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8.8px;
}

.contact__wrraper__container__items__top__add {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Amaranth, #E91E63);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.2px;
    text-transform: uppercase;
}

.contact__wrraper__container__items__top__exam {
    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-East-Side, #C393CB);
    font-family: 'Open Sans' sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}


.contact__wrraper__container__items:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 16px;
}

.contact__wrraper__container__items_input:nth-child(1) {
    width: 605px;
    height: 42px;
    padding: 11px 14px;
}

.contact__wrraper__container__items_input:nth-child(2) {
    width: 605px;
    height: 42px;
    padding: 11px 14px;
}

.contact__wrraper__container__items_input:nth-child(3) {
    width: 605px;
    height: 245px;
    padding: 11px 14px;
}


.contact__wrraper__container__items_input:nth-child(4) {
    padding: 10px 29px;
    border-radius: 3px;
    background: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Amaranth, #E91E63);

    color: var(--webthemez_com_demo_party-event-free-html-website-template__1349x627_default-Nero, #FFF);
    text-align: center;
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border: none;
}

/* =======================================================location__section============================================== */
.location__section {
    background-color: #280045;

}

.location__wrrapaer{
    padding: 40px 0px;
}